<h1>Cleaning products</h1>
<div class="border rounded m-3 px-3 py-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <!-- control structure to loop: ngFor -->
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td [ngClass]="{ color: product.price > 10 }">
          {{ product.price | currency }}
        </td>
        <td>
          <a [routerLink]="['/products', product.id]">Detail</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
